<a href="https://colab.research.google.com/github/Kyoungjinny/AI_PredictionModel/blob/preprocess/concat_weather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd
import numpy as np

In [0]:
data2019 = pd.read_csv('gdrive/My Drive/data_fin/data2019.csv')
data2018 = pd.read_csv('gdrive/My Drive/data_fin/data2018.csv')
data2017 = pd.read_csv('gdrive/My Drive/data_fin/data2017.csv')
data2016 = pd.read_csv('gdrive/My Drive/data_fin/data2016.csv')
#data2015 = pd.read_csv('gdrive/My Drive/data_fin/data2015.csv')
data2014 = pd.read_csv('gdrive/My Drive/data_fin/data2014.csv')
data2013 = pd.read_csv('gdrive/My Drive/data_fin/data2013.csv')
data2012 = pd.read_csv('gdrive/My Drive/data_fin/data2012.csv')
data2011 = pd.read_csv('gdrive/My Drive/data_fin/data2011.csv')
data2010 = pd.read_csv('gdrive/My Drive/data_fin/data2010.csv')
data2009 = pd.read_csv('gdrive/My Drive/data_fin/data2009.csv')
data2008 = pd.read_csv('gdrive/My Drive/data_fin/data2008.csv')
data2007 = pd.read_csv('gdrive/My Drive/data_fin/data2007_2.csv')
data2006 = pd.read_csv('gdrive/My Drive/data_fin/data2006.csv')
data2005 = pd.read_csv('gdrive/My Drive/data_fin/data2005.csv')

In [0]:
w2019 = pd.read_csv('gdrive/My Drive/data_fin/ww2019.csv')
w2018 = pd.read_csv('gdrive/My Drive/data_fin/ww2018.csv')
w2017 = pd.read_csv('gdrive/My Drive/data_fin/ww2017.csv')
w2016 = pd.read_csv('gdrive/My Drive/data_fin/ww2016.csv')
w2015 = pd.read_csv('gdrive/My Drive/data_fin/ww2015.csv')
w2014 = pd.read_csv('gdrive/My Drive/data_fin/ww2014.csv')
w2013 = pd.read_csv('gdrive/My Drive/data_fin/ww2013.csv')
w2012 = pd.read_csv('gdrive/My Drive/data_fin/ww2012.csv')
w2011 = pd.read_csv('gdrive/My Drive/data_fin/ww2011.csv')
w2010 = pd.read_csv('gdrive/My Drive/data_fin/ww2010.csv')
w2009 = pd.read_csv('gdrive/My Drive/data_fin/ww2009.csv')
w2008 = pd.read_csv('gdrive/My Drive/data_fin/ww2008.csv')
w2007 = pd.read_csv('gdrive/My Drive/data_fin/ww2007.csv')
w2006 = pd.read_csv('gdrive/My Drive/data_fin/ww2006.csv')
w2005 = pd.read_csv('gdrive/My Drive/data_fin/ww2005.csv')

In [0]:
w2019 = w2019.loc[:119, :]
data2019 = pd.concat([data2019,w2019],axis=1)

In [0]:
data2018 = pd.concat([data2018,w2018],axis=1)

In [0]:
w2017 = pd.read_csv('gdrive/My Drive/data_fin/ww2017.csv')

In [0]:
w2017 = w2017.loc[86:, :]

In [0]:
data2017.reset_index(drop=True, inplace=True)
w2017.reset_index(drop=True, inplace=True)

data2017 = pd.concat( [data2017, w2017], axis=1)

In [0]:
w2016 = w2016.loc[:351, :]

In [0]:
data2016 = pd.concat([data2016, w2016], axis=1)

In [0]:
data2014 = pd.read_csv('gdrive/My Drive/data_fin/data2014.csv')
w2014 = pd.read_csv('gdrive/My Drive/data_fin/ww2014.csv')

In [0]:
w2014.drop(w2014.index[29:61],inplace=True)

In [0]:
data2014.reset_index(drop=True, inplace=True)
w2014.reset_index(drop=True, inplace=True)

data2014 = pd.concat([data2014, w2014], axis=1)

In [0]:
data2014.drop(['Unnamed: 0',	'Unnamed: 0.1',	'Unnamed: 1',	'months'],axis=1,inplace=True)

In [0]:
data2019.drop(['Unnamed: 0',	'Unnamed: 0.1',	'Unnamed: 1',	'months'],axis=1,inplace=True)
data2018.drop(['Unnamed: 0',	'Unnamed: 0.1',	'Unnamed: 1',	'months'],axis=1,inplace=True)
data2017.drop(['Unnamed: 0',	'Unnamed: 0.1',	'Unnamed: 1',	'months'],axis=1,inplace=True)
data2016.drop(['Unnamed: 0',	'Unnamed: 0.1',	'Unnamed: 1',	'months'],axis=1,inplace=True)

In [0]:
data2010 = pd.concat([data2010, w2010], axis=1)

In [0]:
w2011 = w2011.loc[24:]
w2011.shape

(341, 15)

In [0]:
data2011.reset_index(drop=True, inplace=True)
w2011.reset_index(drop=True, inplace=True)

data2011 = pd.concat([data2011, w2011], axis=1)

In [0]:
w2012.drop(w2012.index[240],inplace=True)
w2012.shape

(365, 15)

In [0]:
data2012.reset_index(drop=True, inplace=True)
w2012.reset_index(drop=True, inplace=True)

data2012 = pd.concat([data2012, w2012], axis=1)

In [0]:
data2013.reset_index(drop=True, inplace=True)
w2013.reset_index(drop=True, inplace=True)

data2013 = pd.concat([data2013, w2013], axis=1)

In [0]:
data2010.drop(['Unnamed: 0',	'Unnamed: 0.1',	'Unnamed: 1',	'months'],axis=1,inplace=True)
data2011.drop(['Unnamed: 0',	'Unnamed: 0.1',	'Unnamed: 1',	'months'],axis=1,inplace=True)
data2012.drop(['Unnamed: 0',	'Unnamed: 0.1',	'Unnamed: 1',	'months'],axis=1,inplace=True)
data2013.drop(['Unnamed: 0',	'Unnamed: 0.1',	'Unnamed: 1',	'months'],axis=1,inplace=True)

In [0]:
data2009.reset_index(drop=True, inplace=True)
w2009.reset_index(drop=True, inplace=True)

data2009 = pd.concat([data2009, w2009], axis=1)

     Unnamed: 0 Unnamed: 0.1  Unnamed: 1  ... temp_w  humid_w  wind_w
0             0           1월           5  ...      1        3       1
1             1           1월           6  ...      1        3       1
2             2           1월           7  ...      1        3       1
3             3           1월           8  ...      1        3       1
4             4           1월           9  ...      1        4       1
..          ...          ...         ...  ...    ...      ...     ...
360         371          12월          31  ...      1        5       1
361         372          12월          32  ...      1        4       1
362         373          12월          33  ...      1        5       1
363         374          12월          34  ...      1        5       2
364         375          12월          35  ...      1        3       2

[365 rows x 52 columns]

In [0]:
data2009.drop(['Unnamed: 0',	'Unnamed: 0.1',	'Unnamed: 1',	'months'],axis=1,inplace=True)

In [0]:
data2008 = pd.concat([data2008, w2008],axis=1)
data2008.drop(['Unnamed: 0',	'Unnamed: 0.1',	'Unnamed: 1',	'months'],axis=1,inplace=True)

In [0]:
data2007 = pd.concat([data2007, w2007],axis=1)
data2007.drop(['Unnamed: 0',	'Unnamed: 0.1',	'Unnamed: 1',	'months'],axis=1,inplace=True)

In [0]:
data2006 = pd.concat([data2006, w2006],axis=1)
data2006.drop(['Unnamed: 0',	'Unnamed: 0.1',	'Unnamed: 1',	'months'],axis=1,inplace=True)

In [0]:
data2005 = pd.concat([data2005, w2005],axis=1)
data2005.drop(['Unnamed: 0',	'Unnamed: 0.1',	'Unnamed: 1',	'months'],axis=1,inplace=True)

monthly total = monthly paid visitors + monthly unpaid visitors

In [0]:
data2013['m_total'] = data2013['m_paid'] + data2013['m_free']
data2013.drop(['m_etc'],axis=1,inplace=True)
data2012['m_total'] = data2012['m_paid'] + data2012['m_free']
data2012.drop(['m_etc'],axis=1,inplace=True)
data2011['m_total'] = data2011['m_paid'] + data2011['m_free']
data2011.drop(['m_etc'],axis=1,inplace=True)
data2010['m_total'] = data2010['m_paid'] + data2010['m_free']
data2010.drop(['m_etc'],axis=1,inplace=True)
data2009['m_total'] = data2009['m_paid'] + data2009['m_free']
data2009.drop(['m_etc'],axis=1,inplace=True)
data2008['m_total'] = data2008['m_paid'] + data2008['m_free']
data2008.drop(['m_etc'],axis=1,inplace=True)
data2007['m_total'] = data2007['m_paid'] + data2007['m_free']
data2007.drop(['m_etc'],axis=1,inplace=True)
data2006['m_total'] = data2006['m_paid'] + data2006['m_free']
data2006.drop(['m_etc'],axis=1,inplace=True)
data2005['m_total'] = data2005['m_paid'] + data2005['m_free']
data2005.drop(['m_etc'],axis=1,inplace=True)